.text-primary {
  color: $primaryColor;
}

.text-warning {
  color: $warningColor;
}

.text-danger {
  color: $dangerColor;
}

.text-success {
  color: $successColor;
}

.text-info {
  color: $infoColor;
}

.text-black {
  color: $blackColor;
}

.text-white {
  color: $whiteColor;
}

.text-main {
  color: $mainColor;
}

.text-regular {
  color: $regularColor;
}
.text-regular {
  color: $secondaryColor;
}
