$names: 'primary', 'warning', 'danger', 'success', 'info', 'black', 'white', 'main', 'regular',
  'secondary';
$colors: $primary-color, $warning-color, $danger-color, $success-color, $info-color, $black-color,
  $white-color, $main-color, $regular-color, $secondary-color;

@each $name in $names {
  .text-#{$name} {
    color: nth($colors, 1);
  }
}
