.text-primary {
  color: $primary-color;
}

.text-warning {
  color: $warning-color;
}

.text-danger {
  color: $danger-color;
}

.text-success {
  color: $success-color;
}

.text-info {
  color: $info-color;
}

.text-black {
  color: $black-color;
}

.text-white {
  color: $white-color;
}

.text-main {
  color: $main-color;
}

.text-regular {
  color: $regular-color;
}

.text-secondary {
  color: $secondary-color;
}
