$padding-map: 10 20 30;

@each $size in $padding-map {
  .pr#{$size} {
    padding-right: #{$size}px;
  }
}

@each $size in $padding-map {
  .pl#{$size} {
    padding-left: #{$size}px;
  }
}

@each $size in $padding-map {
  .pt#{$size} {
    padding-top: #{$size}px;
  }
}

@each $size in $padding-map {
  .pb#{$size} {
    padding-bottom: #{$size}px;
  }
}

@each $size in $padding-map {
  .p#{$size} {
    padding: #{$size}px;
  }
}
