:export {
  mainColor: $main-color;
  primaryColor: $primary-color;
  successColor: $success-color;
  warningColor: $warning-color;
  dangerColor: $danger-color;
  infoColor: $info-color;
  blackColor: $black-color;
  whiteColor: $white-color;
  regularColor: $regular-color;
  secondaryColor: $secondary-color;
}
