$primary-color: #409EFF;
$warning-color: #E6A23C;
$danger-color: #F56C6C;
$success-color: #67C23A;
$info-color: #909399;
$black-color: #000;
$white-color: #FFF;
$main-color: #303133;
$regular-color: #606266;
$secondary-color: #909399;
