$size-maps: 10 20 30;
$width-map: 100 200 300;

$primary-color: #409eff;
$warning-color: #e6a23c;
$danger-color: #f56c6c;
$success-color: #67c23a;
$info-color: #909399;
$black-color: #000;
$white-color: #fff;
$main-color: #303133;
$regular-color: #606266;
$secondary-color: #909399;

$bg-color: #f6f6f6;

// 优雅的选择字体
// pc端
$font-family-medium: -apple-system, BlinkMacSystemFont, 'PingFang-SC-medium', helvetica, tahoma,
  arial, 'Microsoft YaHei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
$font-family-regular: -apple-system, BlinkMacSystemFont, 'PingFang-SC-regular', helvetica, tahoma,
  arial, 'Microsoft YaHei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
