$primaryColor: #409eff;
$warningColor: #e6a23c;
$dangerColor: #f56c6c;
$successColor: #67c23a;
$infoColor: #909399;
$blackColor: #000;
$whiteColor: #fff;
$mainColor: #303133;
$regularColor: #606266;
$secondaryColor: #909399;
